<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movilidad Bogota</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">


  <script>


    window.onload = function()
    {

          if(document.getElementById("check_survey").checked)
          {
            document.getElementById("btn_survey").disabled = false;
          }

          if(document.getElementById("check_json").checked)
          {
            document.getElementById("btn_json").disabled = false;
          }

    };

  function toggle_survey(element) {

        document.getElementById("btn_survey").disabled = true;
        if(element.checked)
          {
            document.getElementById("btn_survey").disabled = false;
          }

          
      };

  function toggle_json(element) {
          
          document.getElementById("btn_json").disabled = true;
          if(element.checked)
          {
            document.getElementById("btn_json").disabled = false;
          }

      };

  </script>

  </head>

	<body>
	<div class="container">
      <div class="py-5 text-center">
      {% load static %}
        <img class="d-block mx-auto mb-4" src="{% static "location_uploads/img/rosario.jpg" %}" alt="" width="680" height="342">
        <h1>Datos de Movilidad en Bogotá</h1>
        <p class="lead"> Sistema de recolección de datos.</p>
      </div>
    </div>



    <div class="container">
       <div class="text-left">
        <h2>Descripción</h2>
     </div>

      <div class="py-3 text-justify">
        <p class = "lead"> Esta encuesta es un trabajo de clase Análisis geográfico 1, para estudiantes de la Universidad del Rosario. Es un ejercicio para construir una base de datos de aspectos generales de la percepción de calidad de vida de las personas, y la manera como ocupan el espacio. <br>

        <br>

		El ejercicio está a cargo del profesor Alejandro Feged, si usted como participante tiene preguntas o dudas sobre el proyecto, o desea comunicarse por cualquier motivo con los coordinadores del proyecto, puede comunicarse por los siguientes medios: <br> </p>

		<br>
		<dl>
	    	<dt class="lead">Correos</dt>
	    		<dd class="lead">- alejandro.feged@urosario.edu.co</dd>
	    		<dd class="lead">- andres.sampayo@urosario.edu.co</dd>
	    		<dd class="lead">- guibor.camargo@urosario.edu.co</dd>
  		</dl>

  		<br>
		<dl>
	    	<dt class="lead">Telefonos</dt>
	    		<dd class="lead"> - 2970200 ext. 3718</dd>
  		</dl>

      </div>
    </div>


      <div class="container">
          <div class="py-1">
            <p class="lead"></p>
          </div>
        </div>

         <div class="container">
           <div class="text-left">
              <h4>Consentimiento Informado</h4>
           </div>
        </div>

        
        <div class="container">
          <div class="py-2 text-justify">            
            <ul>
              <li class = "lead">Por favor, lea cuidadosamente esta información sobre el estudio de investigación titulado “Segregación socioambiental en el área metropolitana de Bogotá: una perspectiva micro-territorial”.</li>
              <li class = "lead">Siéntase en completa libertad de preguntar al personal del estudio todo aquello que no entienda.</li> 
              <li class = "lead">Una vez haya comprendido la información, se le preguntará si desea participar del estudio.</li>               
            </ul>
          </div>
        </div> 



      <div class="container">
        <div class = "py-1 text-center">          
         <a class="lead" href="{% url 'location_uploads:terms' %}">Ver Consentimiento Informado del Estudio</a>
        </div>
      </div> 

        <div class="container">
          <div class="py-2">
            <p class="lead"></p>
          </div>
        </div>


         <div class="container">
           <div class="text-left">
              <h4>Aceptación del Consentimiento Informado</h4>
           </div>
        </div>

        <div class="container">
          <div class="py-1 text-justify">
            <p class = "lead"> Por favor seleccione la casilla correspondiente en caso de aceptar. Autorizo a los investigadores del estudio “Segregación socioambiental en el área metropolitana de Bogotá: una perspectiva micro-territorial” para:</p>
          </div>
        </div>


        <div class="container">
        <div class = "row">
          <div class="col-1"></div>
          <div class="col-11">
            <div class="checkbox lead"><label><input id = "check_survey" type="checkbox" value="" onchange="toggle_survey(this)"> Realizar la Encuesta</label></div>
          </div>          
        </div>
        <div class = "row">
          <div class="col-1"></div>
          <div class="col-11">
            <div class="checkbox lead"><label><input id = "check_json" type="checkbox" value="" onchange="toggle_json(this)" > Recibir mis datos de movilidad de “Google Takeout” </label></div>
          </div>          
        </div>
      </div>

      <div class="container">
          <div class="py-2">
            <p class="lead"></p>
          </div>
        </div>


        <div class="container">
    		<div class = "row">
    			<div class="col-4"></div>
    			<div class="col-2">
    				<button id= "btn_survey" type="button" class="btn btn-primary" onclick="location.href='{{survey_link}}';" disabled>Hacer Encuesta</button>
    			</div>
    			<div class="col-2">
    				<button id= "btn_json" type="button" class="btn btn-info" onclick="location.href='{{json_link}}';" disabled>Subir Datos</button>
    			</div>
    			<div class="col-4"></div>
    		</div>
    	</div>


        <div class="container">
          <div class="py-4">
            <p class="lead"></p>
          </div>
        </div>
            
        <div class="container">
          <div class="py-1 text-center">
            <p>
              <hr>
              Universidad del Rosario - 2018
            </p>
          </div>
        </div>


	</body>
</html>
