<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Consentimiento Informado</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

	
  </head>

	<body>
	 <div class="container">

      <div class="py-5 text-center">
      {% load static %}
        <img class="d-block mx-auto mb-4" src="{% static "location_uploads/img/rosario.jpg" %}" alt="" width="680" height="342">
        <h1>Consentimiento Informado</h1>
      </div>
    </div>


        <div class="container">
           <div class="text-left">
              <h4>DESCRIPCIÓN GENERAL</h4>
           </div>
        </div>

        <div class="container">
          <div class="py-2 text-justify">
            <p class="lead"> Este estudio busca evaluar la calidad ambiental de la ciudad de Bogotá, y los efectos económicos que esta pueda tener para sobre las personas. El estudio está dirigido a evaluar las condiciones de calidad del aire, ruido, inseguridad, acceso a espacio público, entre otras, a las que las personas están expuestas. </p>
          </div>
        </div>

        <div class="container">
          <div class="py-1">
            <p class="lead"></p>
          </div>
        </div>

        <div class="container">
           <div class="text-left">
              <h4>OBJETIVO DEL ESTUDIO</h4>
           </div>
        </div>

        <div class="container">
          <div class="py-2 text-justify">
            <p class="lead"> El objetivo del estudio es identificar si la calidad ambiental, tiene un efecto significativo sobre la calidad de vida de las personas, y sobre sus gastos e ingresos. Queremos conocer si la calidad ambiental es diferente para los diferentes grupos socioeconómicos en los que puede dividirse la población, y si cada uno de estos grupos se ve perjudicado (económica y medicamente) de forma diferente.</p>
          </div>
        </div>

        <div class="container">
          <div class="py-1">
            <p class="lead"></p>
          </div>
        </div>

       <div class="container">
           <div class="text-left">
              <h4>¿POR QUÉ FUE USTED ELEGIDO PARA PARTICIPAR EN ESTE ESTUDIO?</h4>
           </div>
        </div>

        <div class="container">
          <div class="py-2 text-justify">
            <p class="lead"> Aparte de ser mayor de edad (+18 años), existen dos posibles motivos por los cuales usted pudo ser elegido para desarrollar la encuesta: </p>
            <ol>
              <li class="lead">Fue seleccionado de manera aleatoria por uno de nuestros estudiantes encuestadores.</li>
              <li class="lead">Usted vive dentro de una de las zonas de la ciudad que, por sus características ambientales, más nos interesa registrar dentro del estudio.</li>              
            </ol>
          </div>
        </div>

        <div class="container">
          <div class="py-1">
            <p class="lead"></p>
          </div>
        </div>


        <div class="container">
           <div class="text-left">
              <h4>RIESGOS Y BENEFICIOS</h4>
           </div>
        </div>

        <div class="container">
          <div class="py-2 text-justify">
            <p class="lead">Esta encuesta no representa ningún riesgo para usted, y sus datos serán anonimizados y utilizados única y exclusivamente con los fines académicos del estudio. <br/>
                  <br/>
                  A nivel individual, la encuesta no ofrece ningún incentivo económico o en especie a quien la responda. La encuesta si está dirigida a involucrar a las personas, comunidades y grupos a un ejercicio de valoración ambiental sobre su ciudad, el cual está dirigido a motivar nuevas discusiones y toma de decisiones en torno a la calidad de vida en la ciudad.
            </p>
          </div>
        </div>

        <div class="container">
          <div class="py-1">
            <p class="lead"></p>
          </div>
        </div>



        <div class="container">
           <div class="text-left">
              <h4>¿COMO SERÁ LA PARTICIPACIÓN EN EL ESTUDIO?</h4>
           </div>
        </div>

        <div class="container">
          <div class="py-2 text-justify">
            <p class="lead"> Su participación requiere de los siguientes procedimientos, que usted podrá libremente aceptar o rechazar: </p>
            <ol>
              <li class="lead">El encuestador le solicitará responder a las preguntas del encuestador, el cual será un estudiante de la universidad del rosario, monitor o profesor.</li>
              <li class="lead">El encuestador le solicitará brindar los datos de movilidad de “Google Takeout”.</li>              
            </ol>
          </div>
        </div>

        <div class="container">
          <div class="py-1">
            <p class="lead"></p>
          </div>
        </div>


        <div class="container">
           <div class="text-left">
              <h4>GARANTÍAS DE SU PARTICIPACIÓN</h4>
           </div>
        </div>

        <div class="container">
          <div class="py-2 text-justify">
            <p class="lead"> Tanto la participación en la encuesta como la entrega de los datos de movilidad son un ejercicio estrictamente voluntario, y usted no será obligado a responder las preguntas con los cuales quiera mantener reserva. De este modo, toda la información que sea recolectada por este ejercicio será utilizada únicamente con los fines académicos que persigue la investigación. Por otro lado, toda su información sensible (nombre, identificación, dirección) serán manejadas con absoluta discreción, y serán inmediatamente anonimizadas a medida sean registradas por el encuestador en el aplicativo del ejercicio.
            <br/>
            <br/>
            Ninguno de sus datos, ni ninguna de sus respuestas serán compartidas por los investigadores con fines comerciales. El ejercicio al cual le invitamos a participar es un ejercicio académico y científico. Usted podrá comunicarse en caso de dudas, con nuestro equipo de investigación como se indica más adelante.
            </p>
          </div>
        </div>

        <div class="container">
          <div class="py-1">
            <p class="lead"></p>
          </div>
        </div>

      <div class="container">
        <div class = "row">
          <div class="col-4"></div>
          <div class="col-4">
            <button type="button" class="btn btn-primary" onclick="window.history.go(-1); return false;">Volver al Sistema Recolector de Datos</button>
          </div>
          <div class="col-4">          
        </div>
      </div>
        

        <div class="container">
          <div class="py-4">
            <p class="lead"></p>
          </div>
        </div>
            
        <div class="container">
          <div class="py-1 text-center">
            <p>
              <hr>
              Universidad del Rosario - 2018
            </p>
          </div>
        </div>




	</body>
</html>