<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movilidad Bogota</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">


	<script>
	function mostrarEncuesta() {
    			document.getElementById("subir_encuesta").style.display = "block"
    			document.getElementById("subir_json").style.display = "none"
    			document.getElementById("tipo_encuesta").value = "informacion"
    			document.getElementById("json_file").removeAttribute("required");
			}

	function mostrarJSON() {
    			document.getElementById("subir_encuesta").style.display = "none"
    			document.getElementById("subir_json").style.display = "block"
    			document.getElementById("tipo_encuesta").value = "json"
    			document.getElementById("json_file").required = true;
			}
		
	</script>


	
  </head>

	<body>
	<div class="container">
      <div class="py-5 text-center">
      {% load static %}
        <img class="d-block mx-auto mb-4" src="{% static "location_uploads/img/rosario.jpg" %}" alt="" width="680" height="342">
        <h1>Datos de Movilidad en Bogotá</h1>
        <p class="lead"> Sistema de recolección de datos.</p>
      </div>
    </div>



    <div class="container">
       <div class="text-left">
        <h2>Envio Exitoso</h2>        
     	</div>

      <div class="py-5">
        <p>  Su {{envio}} se recibió exitosamente. Si todavía falta por enviar {{por_enviar}}, no olvide hacerlo</p>
		     <a href="{% url '' %}">
      </div>
 

    </div>




	</body>
</html>